# expo/react native stuff
.expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build

# npm/yarn stuff
node_modules
npm-debug.*
yarn-error.log

# macOS stuff
.DS_Store

# environment stuff
.env
